extends layout.pug

block content
  script(src="/handlers.js" defer)
  - var urlFrag = 'herokuapp.com/3.54-100-0.42009';
  div(style="padding-top: 20px; padding-left: 40px; padding-right: 40px;")
    h3
      p(align="center") Logistic map:&nbsp;
        i x
        sub
          i n
          |+1&nbsp;
        | =&nbsp;
        i rx
          sub n
        | (1 -&nbsp;
        i x
          sub n
        | )

    script(src="/hello.js")
    p(align="center")
      a(href="https://pknipp.github.io/math")
        | Return&nbsp;
      | to the Math APIs page.
      br
      | creator:&nbsp;
      a(href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer')
        | Peter Knipp
      br
      | repo:&nbsp;
      a(href='https://github.com/pknipp/logistic-map' target='_blank' rel='noopener noreferrer')
        | https://github.com/pknipp/logistic-map
    p
      b Background:&nbsp;
      | The logistic map is a simple nonlinear difference equation that models the population of a species with the passing of each generation (or similar fixed length of time).  In the above equation&nbsp;
      i x&nbsp;
      | represents the ratio of the population to its maximum possible value, the first term (
      i rx
      | ) represents reproduction, the second term (-
      i rx
      sup 2
      | ) represents starvation, and the growth-rate parameter&nbsp;
      i r&nbsp;
      | is between 0 and 4.  Despite the equation's simplicity and depending upon the value of&nbsp;
      i r
      | , the solutions can be remarkably complex, giving rise to period doubling and chaos. The table below summarizes some of this.  See&nbsp;
      a(href='https://en.wikipedia.org/wiki/Logistic_map' target='_blank' rel='noopener noreferrer')
        | Wikipedia&nbsp;
      | for more information.
      table(border)
        tr
          th
            i r
            sub min
          th
            i r
            sub max
          th asymptotic behavior
        tr
          td 0
          td 1
          td converges to zero
        tr
          td 1
          td 3
          td converges to nonzero value
        tr
          td 3
          td 3.44949
          td two cycle
        tr
          td 3.44949
          td 3.54409
          td four cycle
        tr
          td 3.54409
          td 3.56441
          td eight cycle</td>
        tr
          td 3.56441
          td 3.56995
          td more period doubling
        tr
          td 3.56995
          td 4
          td chaos
      br
      b Instructions:&nbsp;
      | After
      tt ...herokuapp.com&nbsp;
      |above you should type either&nbsp;
      tt /api/&nbsp;
      | or&nbsp;
      tt /&nbsp;
      | depending upon whether you want the results returned numerically or graphically. After that you should type the following two to four numerical inputs separated by hyphens:
      ol
        li growth-rate parameter&nbsp;
          i r
        li number of generations to be calculated
        li (optional) initial value of&nbsp;
          i x&nbsp;
          | (If omitted this will be generated randomly.)
        li (optional) first generation to include in the results (If omitted this will include all generations.)

      b Example:
      a(href=`https://logistic-map-pug-69515e2370a6.${urlFrag}`)
        | Click here
      | for the url ...
      span ${urlFrag}, which results in an unstable two-cycle evolving to a stable four-cycle after about 50 generations.
