<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title LogisticMap
            link(rel="icon" href="/public/dragon.svg" type="image/ico")
            <script src="https://kit.fontawesome.com/d8d4c87a5d.js" crossorigin="anonymous"></script>
    body
        block content
