extends layout.pug

block content
  script(src="/hello.js")
  span This graphic is optimized for a 16-inch MacBook Pro using Chrome at mid-magnification.
  button(type="button") Toggle line-visibility
  each size in sizes
    input(type="radio", name="size", id="#{size.label}", value=`${size.label}`, checked="#{size.isChecked}")
